# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts










#              {/* time  and weather  icon */}
#               {/* <div className="flex gap-10 sm:gap-16 overflow-x-auto w-full justify-between pr-3">
#   {data?.list?.map((d, i) => {
#     const utcDate = new Date(d?.dt_txt); 
#     return (
#       <div
#         key={i}
#         className="flex flex-col justify-between gap-2 items-center text-xs font-semibold"
#       >
      
#         <p className="whitespace-nowrap">
#           {utcDate ? format(utcDate, "h:mm a") : "Invalid Date"}
#         </p>
#         <WeatherIcon
#                           iconName={getDayOrNightIcon(d.weather[0].icon,d.dt_txt)
#                           }
#                         />
#         <p>{convertKelvinToCelsius(d?.main.temp ?? 0)}°</p>
#       </div>
#     );
#   })}                        

# </div> */}






# // <div className="flex flex-col gap-4 bg-gray-100 min-h-screen">
# //       <Navbar loacation={data.city.name} />
# //       <main className="px-3 max-w-7xl mx-auto flex flex-col gap-9 w-full pb-10 pt-4">
# //         <section className="space-y-4">
# //           <div className="space-y-2">
# //             <h2 className="flex gap-1 text-2xl items-end">
# //               <p>{format(new Date(firstData.dt * 1000), "EEEE")}</p>
# //               <p className="text-lg">
# //                 ({format(new Date(firstData.dt * 1000), "dd.MM.yyyy")})
# //               </p>
# //             </h2>
# //             {/* temprature */}
# // </div>
# //             <Container className="w-fit  gap-10 px-20 items-center">
# //               <div className="flex flex-col px-4">
# //                 <span className="text-3xl">

# //                   {convertKelvinToCelsius(firstData.main.temp ?? 296.37)}°
# //                 </span>
# //                 <p className="text-2xl space-x-1 whitespace-nowrap">
# //                   <span> Feels like</span>
# //                   <span>
# //                     {convertKelvinToCelsius(
# //                       firstData?.main.feels_like ?? 0
# //                     )}
# //                     °
# //                   </span>
# //                 </p>
# //                 <p className="text-3xl space-x-2">
# //                   <span>
# //                     {convertKelvinToCelsius(firstData?.main.temp_min ?? 0)}
# //                     °↓{" "}
# //                   </span>
# //                   <span>
# //                     {" "}
# //                     {convertKelvinToCelsius(firstData?.main.temp_max ?? 0)}
# //                     °↑
# //                   </span>
# //                 </p>

# //               </div>



# //               <Container className="w-fit  justify-center flex-col px-4 items-center ">
# //                   <p className=" capitalize text-center">
# //                     {firstData?.weather[0].description}{" "}
# //                   </p>
# //                   <WeatherIcon
# //                     iconName={getDayOrNightIcon(
# //                       firstData?.weather[0].icon ?? "",
# //                       firstData?.dt_txt ?? ""
# //                     )}
# //                   />
                  
# //                 </Container>
# //                 &nbsp;
# //                 <Container className="w-fit  bg-yellow-300/80  px-6 gap-4 ">
# //                   <WeatherDetails

# //                     visability={metersToKilometers(
# //                       firstData?.visibility ?? 10000
# //                     )}
# //                     // airPressure={`${firstData?.main.pressure} hPa`}
# //                     humidity={`${firstData?.main.humidity}%`}
                    
# //                     windSpeed={convertWindSpeed(firstData?.wind.speed ?? 1.64)}
                    
# //                   />
# //             </Container>

# //                                   </Container>
# //                 {/* right  */}
# //               {/* </div> */}


              
# //               {/* <div className=" relative gap-4 px-1"> */}
# //                 {/* left  */}
               
# //           {/* </div> */}
# //         </section>

# //       </main>
# //     </div>